
nvim/lua/test

.config/Typora

.config/termshark

.config/baidunetdisk

.config/libreoffice

.config/qv2ray

.config/\345\276\256\344\277\241
.config/微信

.config/msmtp/config
.config/mutt

.config/QtProject
.config/NuGet

.config/qqmusic

nvim/plugin/packer_compiled.vim
.config/microsoft-edge-dev

.config/SciTools

.config/font-manager
.config/fontconfig/conf.d

.config/sourcetrail

.config/inkscape

.config/libvirt

.config/Clashy
.config/clash

.config/virt-viewer

.config/VisualParadigm

.config/Unknown Organization
.config/zoomus.conf

nvim/plugin/packer_compiled.lua
.config/jesseduffield/lazygit/Qemu_p2020

.config/zsh/.zcompdump
.config/simplescreenrecorder

.config/docker/config.json
.config/cheat

.config/nvim/plugin/packer_compiled.lua

.config/kingsoft

.config/qrcp
.config/spotify

.config/XMind


.config/dosbox

.config/okular*

.config/nvim/cross

.config/google-chrome-unstable

.config/jesseduffield/lazygit

.config/kdiff3rc
.config/dlv

.config/TabNine

.config/go/env
.config/gh

.config/yay/config.json
.config/weixin
.config/.virtualenvs
.config/java/.userPrefs
.config/elinks
.config/gnupg
.config/Motrix
.config/Genymobile
.config/gdlv
.config/gdlv.star
.config/LarkShell
.config/Slack
.config/Vulcan/User Data
.config/vulcan