snippet stdio "include stdio.h"
#include<stdio.h>
${0}
endsnippet


snippet stdlib "include stdlib.h"
#include<stdlib.h>
${0}
endsnippet


snippet fvoid "void function"
void ${1:NewFunction}(${2}){
	// TODO
	${3}
}
${0}
endsnippet


snippet fint "int function"
int ${1:NewFunction}(${2}){
	// TODO
	${3}
}
${0}
endsnippet

snippet stdc "wirte basic format"
#include<stdio.h>

${0}

int main(){

	return 0;
}

endsnippet




