snippet react "simple react component model"
import React from "react"

export default class ${1:MyComponent} extends React.Component{

	componentDidMount(){
	}

	render(){
		return (
			${0:<div></div>}
		)
	}

}
endsnippet


