snippet def "define a function"
def ${1:function_name}(${2:args}):
	# ${3:TODO}
	${4:pass}
${0}
endsnippet


snippet ifmain "if main == name"
if __name__ == "__main__":
	${1}
${0}
endsnippet


snippet class "define a class"
class ${1:ClassName}(${2:object}):

	"""${3:TODO}"""

	def __init__(${4:self}):
		"""${5:TODO}"""
		${6:pass}
${0}
endsnippet


snippet for
for ${1:item} in ${2:iterable}:
	${3:pass}
${0}
endsnippet


snippet if
if ${1:condition}:
	${2:pass}
${0}
endsnippet
