configstore
google
.DS_Store
Code - OSS
tencent-qq
electron-ssr
google-chrome
gtk-2.0
menus
mimeapps.list
pulse
shadowsocks-qt5
vlc
Kingsoft
chromium
Electron
fcitx
QtProject.conf
Trolltech.conf
enchant
gedit
netease-cloud-music
transmission-daemon
transmission
uGet
xfce4
calibre
dconf
coc
emoj-nodejs
unity3d
yarn
dask
pip
GIMP
kdenliverc
cef_user_data
VirtualBox
electronic-wechat
BaiduPCS-Go
fcitx5
SogouPY*
obs-studio
danmaku
BraveSoftware
Postman
UnityHub
htop
gtk-3.0
UNDERTALE
JetBrains
guvcview2
DELTARUNE
screenkey.json
RedneckBottleShooter
ibus
ktouch2rc
mpv/watch_later
GeoGebra
Code - Insiders
Team17 Digital Limited
pavucontrol.ini
Dharkael
jesseduffield/lazygit/state.yml
wireshark
mpv/playlists
kdeglobals
dingtalk
vue
glade.conf
mpv/history.log
balena-etcher-electron
kdenlive-layoutsrc

zsh/plugins/secondary_theme.zsh
autostart

SogouShell

sogouimebs
flameshot

teamviewer
Nextcloud
alixby
freerdp
gitui
