" shotcut configuration file
set enc=utf8
set fileencodings=utf-8,gbk,utf-16le,cp1252,iso-8859-15,ucs-bom
set termencoding=utf-8
set encoding=utf-8

set incsearch
set ignorecase
set smartcase
set scrolloff=15 
set tabstop=4
set softtabstop=4   
set shiftwidth=4    
set expandtab 

noremap h i
noremap H I
noremap k j
noremap K 5j
noremap i k
noremap I 5k
noremap gk gj
noremap gK 5gj
noremap gi gk
noremap gI 5gk
noremap j h
noremap J 5h
noremap L 5l
noremap <C-j> 0
noremap <C-l> $
inoremap <C-j> <ESC>I
inoremap <C-l> <ESC>A
noremap m J  


noremap Y "+y
" :[range]y[ank] [x]
nnoremap yY :%y+<CR> 
noremap P "+p

"=== split screen movement===
noremap <LEADER>w <C-w>w
noremap <LEADER>i <C-w>k
noremap <LEADER>k <C-w>j
noremap <LEADER>j <C-w>h
noremap <LEADER>l <C-w>l


" ===quick operation===
map S :w<CR>
map s <nop>
map Q :q<CR>


map <Up> <Nop>
map <Down> <Nop>
map <Right> <Nop>
map <Left> <Nop>
